@{
    ViewData["Title"] = "Home Page";
    var FlashCards = Databases.FlashCards.GetFlashCards(10);
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-size: 30px;
        padding-top: 50px;
    }

    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
    }

    .visible {
        display: block;
    }

    .invisible {
        display: none;
    }
</style>


<h3>Hover over the image below:</h3>
<br />

@{
    var index = 0;
    foreach (var card in FlashCards)
    {
    <div class="flip-card invisible" id="card-@index">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                @card.FrontValue
                            </div>
                            <div class="flip-card-back">
                                @card.BackValue
                            </div>
                        </div>
    </div>
    
            index++;
    
    }
}

<br/>

<input type="button" class="btn btn-secondary" value="Back" onclick="back()"/>
<input type="button" class="btn btn-primary" value="Next" onclick="next()"/>

<script>
    var currentIndex = 0;
    function makeVisible(index) {
        var firstCard = document.getElementById("card-" + index);
        firstCard.classList.remove("invisible");
        firstCard.classList.add("visible");
    }
    function makeInvisible(index) {
        var firstCard = document.getElementById("card-" + index);
        firstCard.classList.remove("visible");
        firstCard.classList.add("invisible");
    }

    function next(){        
        try {
            
            makeVisible(currentIndex + 1);
            
        } catch(ex) {
            alert("You are at the end of the set");
            return;
        }
        makeInvisible(currentIndex);
        currentIndex++;
    }

    function back() {
        if(currentIndex > 0) {
            makeInvisible(currentIndex);
            currentIndex--;
            makeVisible(currentIndex);
        } else {
            alert("You are at the beginning");
        }
    }

    makeVisible(0);
</script>